<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946541924723-1orrhk5ughs2m1dgcretrnlto9f66g2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946541924723-1orrhk5ughs2m1dgcretrnlto9f66g2d</string>
	<key>API_KEY</key>
	<string>AIzaSyC1qf3FYAUcK-XHt1hZkmOMP7IRXsRep5k</string>
	<key>GCM_SENDER_ID</key>
	<string>946541924723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crime.ios</string>
	<key>PROJECT_ID</key>
	<string>native-crime-report</string>
	<key>STORAGE_BUCKET</key>
	<string>native-crime-report.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946541924723:ios:2982dcb0e271f3dcd1b506</string>
</dict>
</plist>